
@import "@aws-amplify/ui-react/styles.css"; 

.my-scrollview {
  /* background-color: var(--amplify-components-message-filled-info-background-color); */
  background-color: var(--amplify-components-button-focus-background-color);
  padding: 0.3rem;
  /* background-color: var(---amplify-components-togglebutton-primary-hover-background-color); */
 }

.sound-click {
  /* background-color: var(--first-color); */
  /* color: var(--second-color); */
  /* border: 1px solid #e0e0e0; */
  /* border: 1px solid var(--amplify-colors-blue-10); */
  background-color: var(--amplify-components-button-select-background-color);
  /* cursor: url("/mouse-circle-svgrepo-com.svg") 10 10, auto; */
  /* cursor: url("/speeker.svg") 10 10, auto; */
  cursor:cell;
  user-select: none;
}



.red_text {
  color: #FF0000
}
.green_text {
  color: #008000
}
.blue_text {
  color: #0000FF
}
